[Desktop Entry]
Version=1.0
Type=Link
Name=Action Logement
Comment=
Icon=/opt/borne/share/ico-social/ico_action_logement.jpg
URL=https://www.actionlogement.fr/
