[Desktop Entry]
Version=1.0
Type=Link
Name=Pole Emploi
Comment=
Icon=/opt/borne/share/ico-social/ico_pole_emploi.jpg
URL=https://www.pole-emploi.fr/accueil/
